<template id="associateVerbsTemplate">
    <div id="associateVerbsView" class="view">
        <div class="header">
            <button id="backBtn" class="backButton"><-</button> <h1 id="Header" class="Header">Match the verbs to the pronouns!</h1>
            <label id="lblScore" class="score">Score: </label>
        </div>
        <div id="pronouns-container">
            <div class="pronoun" id="I">I</div>
            <div class="pronoun" id="You">You</div>
            <div class="pronoun" id="He">He/she</div>
            <div class="pronoun" id="We">We</div>
            <div class="pronoun" id="YouTwo">You</div>
            <div class="pronoun" id="They">They</div>
        </div>
        <div id="verbs-container">
            <!-- Verbs will be dynamically inserted here. -->
        </div>
    </div>
</template>