<template id="languageStartTemplate">
    <div id="languageStartView" class="view">
        <style>
            .flags-container {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
            }

            .flag {
                width: 100px;
                height: auto;
            }
        </style>

        <div class="header">
            <button id="backBtn" class="backButton"><-</button>
            <h1 id="Header" style="text-align: center;">Hvilket språk vil du lære?</h1>
        </div>
        <div class="flags-container">
            <img id="italianFlag" src="data/flags/Flag_of_Italy.svg" alt="Flag of Italy" class="flag" style="cursor: pointer;">
            <img id="russianFlag" src="data/flags/Flag_of_Russia.svg" alt="Flag of Russia" class="flag" style="cursor: pointer;">
            <img id="UKFlag" src="data/flags/Flag_of_the_United_Kingdom.svg" alt="Flag of the United Kingdom" class="flag" style="cursor: pointer;">
        </div>
    </div>
</template>