<template id="learnAlphabetTemplate">
    <div id="learnAlphabetView" class="view">
        <style>
            .currentChar {
                font-size: 96px;
                cursor: pointer;
                text-align: center;
            }

            .currentAppChar {
                font-size: 50px;
                text-align: center;
            }

            .currentCharDiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
        <div class="header">
            <button id="backBtn" class="backButton"><-</button>
        </div>
        <div class="currentCharDiv">
            <label id="lblCurrentChar" class="currentChar" style="cursor: pointer;">A</label>
            <label id="lblCurrentAppChar" class="currentAppChar">A</label>
        </div>    
        <audio id="currentCharSound" src="data/sounds/alphabets/"></audio>
    </div>
</template>