<template id="learnVerbsTemplate">
    <div id="learnVerbsView" class="view">
        <style>
            .currentVerb {
                font-size: 96px;
                cursor: pointer;
                text-align: center;
            }
            
            .currentAppVerb {
                font-size: 50px;
                text-align: center;
            }

            .currentVerbDiv {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #img {
                max-height: 50vh; /*50% of the viewport height */
                width: auto; /*Maintain aspect ratio */
                display: block; /*Remove extra space below the image */
                margin: 0 auto; /*Center image horizontally */
            }
            
            /*Mobile devices.*/
            @media (max-width: 430px) {
                .currentVerb {
                    font-size: clamp(60px, 8vw, 60px);
                    font-weight: bold;
                    overflow-wrap: anywhere;
                    padding: 0 10px;
                }
            }
        </style>

        <div class="header">
            <button id="backBtn" class="backButton"><-</button>
        </div>
        <div class="currentVerbDiv">
            <label id="lblCurrentVerb" class="currentVerb" style="cursor: pointer;">A</label>
            <label id="lblCurrentAppVerb" class="currentAppVerb">A</label>
            <img id="img">
        </div>    
    </div>
</template>