<template id="learnAlphabetTemplate">
    <div id="learnAlphabetView" class="view">
        <div class="header">
            <button id="backBtn" class="backButton"><-</button>
        </div>
        <div class="currentCharDiv">
            <label id="lblCurrentChar" class="currentChar" style="cursor: pointer;">A</label>
            <label id="lblCurrentAppChar" class="currentAppChar">A</label>
        </div>    
        <audio id="currentCharSound" src="data/sounds/alphabets/"></audio>
    </div>
</template>