<template id="loginTemplate">
    <div id="loginView" class="view">
        <div class="header">
            <button id="backBtn" class="backButton"><-</button><h1 id="Header">Logg inn</h1>
        </div>
          
        <label id="lblUsername" for="txtUsername">Brukernavn *</label>
        <input id="txtUsername" name="userName" type="text" /></br>
        <label id="lblPassword" for="txtPassword">Passord *</label>
        <input id="txtPassword" name="password" type="password" /></br>
        
        <button id="btnLogin" class="button">Logg inn</button>
    </div>
</template>