<template id="settingsTemplate">
    <div id="settingsView" class="view">
        <div class="header">
            <button id="backBtn" class="backButton"><-</button><h1 id="Header">Settings</h1>
        </div>
        <div id="selectLanguageDiv">
            <label id="lblSelectLanguage" for="selectLanguage">Please select a language for Dialogo:</label>
            <select id="selectLanguage">
                <option value="Languages" id="optLanguages">Languages</option>
                <option value="English" id="optEnglish">English</option>
                <option value="Italian" id="optItalian">Italian</option>
                <option value="Russian" id="optRussian">Russian</option>
            </select>
        </div>
    </div>
</template>